@layer reset {
  *,
  ::before,
  ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  h1,
  h2,
  h3,
  button,
  input,
  label {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  p,
  li {
    text-wrap: pretty;
  }

  img,
  picture {
    max-width: 100%;
    display: block;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  ul,
  ol {
    list-style: none;
  }
}

@layer root {
  :root {
    /* colors */
    --accent-blue: #12376e;
    /* fonts */
    --ff-accent: "Alegreya", "sans serif";
  }
}

@layer base {
  a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
  }
}

@layer layout {
  .wrapper {
    /* wrapper width Custom Property */
    --wrapper-max-width: 900px;
    /* wrapper padding inline Custom Property */
    --padding-inline: 1rem;

    max-width: var(--wrapper-max-width);
    margin-inline: auto;
    padding-inline: var(--padding-inline);

    &[data-width="wide"] {
      --wrapper-max-width: 100%;
    }

    &[data-width="narrow"] {
      --wrapper-max-width: 600px;
    }

    &[data-padding-inline="none"] {
      --padding-inline: none;
    }
  }

  .section {
    /* section padding custom property */
    --section-padding: 2rem;
    padding-block: var(--section-padding);
  }

  .grid-equal-cols {
    /* gap custom property */
    gap: var(--equal-cols-gap, 1rem);

    display: grid;

    /* ^^^^^Media Query^^^^^ */
    @media (width > 760px) {
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
    }

    &[data-gap="large"] {
      --equal-cols-gap: 2rem;
    }
  }

  .grid-auto-fit {
    /* grid auto fit min column size */
    --auto-fit-min-col-size: 260px;

    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(var(--auto-fit-min-col-size), 100%), 1fr)
    );
  }

  .flex-dir-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem 2rem;
    align-items: center;

    /* ^^^^^Media Query^^^^^ */
    @media (width < 760px) {
      justify-content: center;
    }
  }
}

@layer components {
  /* -----------Header---------- */

  /* ---primary nav--- */
  .primary-nav {
    display: flex;
    justify-content: space-between;

    color: var(--accent-blue);
    padding-block: 1rem;

    /* ^^^^^Media Query^^^^^ */
    @media (width < 760px) {
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
    }

    /* primary nav socials */
    .primary-nav--socials {
      li:hover {
        color: #458a9f;
        cursor: pointer;
      }
    }

    /* primary nav actions */
  }

  /* search form */
  .search {
    text-align: right;
    padding-block: 1rem;

    /* ^^^^^Media Query^^^^^ */
    @media (width < 760px) {
      text-align: center;
    }

    .search-form {
      display: inline-flex;
      /* justify-content: flex-end; */

      border-bottom: 0.1rem solid #12376e;
    }

    .search-input {
      padding: 0.3rem;
      font-size: 1.1rem;
      border: none;

      &:focus-visible {
        outline: none;
        border: none;
      }
    }

    .search-btn {
      background: transparent;
      border: none;

      transition: transform 0.2s;

      &:hover {
        cursor: pointer;
        transform: scale(1.2);
      }
    }
  }

  /* secondary nav */
  .secondary-nav {
    color: var(--accent-blue);

    &::before,
    &::after {
      content: "";

      display: block;
      width: 100%;
      height: 0.1rem;
      background-color: var(--accent-blue);
      margin-block: 1rem;
    }
  }

  /* -----------Hero---------- */

  .hero--inner {
    width: 100%;
  }

  .slide {
    height: 23rem;
    width: 100%;
    overflow: hidden;
    position: relative;

    /* ---slide content--- */
    .slide-content {
      color: #fff;
      text-align: center;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;

      h1 {
        font-size: 3rem;
        color: var(--accent-blue);
        margin-bottom: 3rem;

        /* ^^^^^Media Query^^^^^ */
        @media (width > 1000px) {
          font-size: 5rem;
        }
      }

      a {
        background: linear-gradient(to top, #00154c, #12376e, #23487f);
        color: #fff;
        padding: 0.5rem 1.4rem;
        text-transform: uppercase;

        /* ^^^^^Media Query^^^^^ */
        @media (width > 1000px) {
          padding: 0.5rem 2rem;
          font-size: 1.5rem;
          border-radius: 0.2rem;
        }
      }
    }

    /* ---slide images--- */
    .slide-images {
      display: flex;
      height: 100%;
      width: 100%;

      outline: 3px solid green;
      z-index: 100;

      transform: translateX(0);
      transition: transform 0.7s linear;

      img {
        object-fit: cover;
        flex: 1 0 100%;
      }
    }

    /* ---slide buttons--- */
    .slide-btns {
      display: flex;
      gap: 0.5rem;
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 20;

      .slide-btn {
        width: 1rem;
        height: 1rem;
        background-color: #23487f;
        outline: none;
        border: #00154c;
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }

  /* -----------Day Offer---------- */

  .day-offer-content {
    text-align: center;
    p {
      color: var(--accent-blue);
      font-size: 1.3rem;
    }
    img {
      width: 100%;
    }
  }

  /* -----------Best Selling Furniture(6cards)---------- */
  .bestselling {
    .section-title {
      text-align: center;
      padding-block: 1rem;
    }

    .card {
      background-color: #efefef;
      text-align: center;
      border-radius: 0.7rem;

      img {
        width: 100%;
      }

      .card-title {
        background-color: #fffddd;
        color: #458a9f;
        width: 80%;
        margin-inline: auto;
        padding: 0.5rem 0;
        border-radius: 0.1rem;
        font-size: 1.3rem;
        transform: translateY(-50%);
      }

      .price {
        padding-block: 1rem;
        color: #23487f;
      }

      .card-btn {
        background-color: var(--accent-blue);
        padding: 0.7rem 0;
        color: #fff;
        width: 100%;
        border-radius: none;
        border: none;
      }
    }
  }

  /* -----------Gallery---------- */
  .gallery {
    display: grid;
    gap: 0.4rem;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);

    background-color: #23487f;
    padding-block: 0.4rem;

    /* ^^^^^Media Query^^^^^ */
    @media (width > 1000px) {
      gap: 1rem;
      padding-block: 1rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.5;
      transition: opacity 0.5s;

      &:hover,
      &:focus-visible {
        opacity: 1;
        cursor: pointer;
      }
    }

    img:nth-child(1) {
      grid-column: 1/3;
      grid-row: 1/2;
    }

    img:nth-child(2) {
      grid-column: 1/3;
      grid-row: 2/4;
    }

    img:nth-child(3) {
      grid-column: 1/3;
      grid-row: 4/5;
    }

    img:nth-child(4) {
      grid-column: 3/6;
      grid-row: 1/3;
    }

    img:nth-child(5) {
      grid-column: 3/5;
      grid-row: 3/4;
    }

    img:nth-child(6) {
      grid-column: 3/5;
      grid-row: 4/5;
    }

    img:nth-child(7) {
      grid-column: 5/6;
      grid-row: 3/5;
    }

    img:nth-child(8) {
      grid-column: 6/7;
      grid-row: 1/2;
    }

    img:nth-child(9) {
      grid-column: 6/7;
      grid-row: 2/4;
    }

    img:nth-child(10) {
      grid-column: 6/7;
      grid-row: 4/5;
    }

    img:nth-child(11) {
      grid-column: 7/9;
      grid-row: 1/3;
    }

    img:nth-child(12) {
      grid-column: 7/9;
      grid-row: 3/5;
    }
  }

  /* -----------Footer---------- */
  .footer {
    background-color: var(--accent-blue);
    padding-block: 1rem;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    /* ^^^^^Media Query^^^^^ */
    @media (width > 1000px) {
      flex-direction: row;
    }

    .footer-title {
      color: #fff;
    }

    .footer-form {
      display: flex;
      background-color: #fff;
      border-radius: 2.2rem;

      .form-input {
        outline: none;
        border: none;
        padding: 0.4rem;
        border-radius: 2rem;
        flex: 1;
      }

      .form-btn {
        background-color: #23487f;
        color: #fff;
        padding: 0.6rem;
        border: none;
        outline: none;
        border-radius: 1rem;
        cursor: pointer;
      }
    }
  }
  .rights-reserved {
    text-align: center;
    padding-block: 1rem;
  }

  /* -----------Custom---------- */
  .btn {
    background-color: var(--accent-blue);
    color: #fff;
    padding: 0.5rem 2.5rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    transition: transform 0.3s linear;

    &:active {
      transform: scale(0.9);
    }
  }
}

@layer utilities {
  .flow > * + * {
    margin-top: 1rem;
  }

  .section-title {
    color: var(--accent-blue);
    font-size: 2.5rem;
  }
}
